attrs==20.3.0
awsebcli==3.19.2
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.7.0.1
bcrypt==3.1.7
blessed==1.17.12
botocore==1.19.40
cached-property==1.5.2
cement==2.8.2
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
colorama==0.3.3
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==3.3.1
Django==1.11.29
docker==4.4.0
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
enum34==1.1.10
functools32==3.2.3.post2
future==0.16.0
idna==2.8
image==1.5.32
importlib-metadata==2.1.1
ipaddress==1.0.23
jmespath==0.10.0
jsonschema==3.2.0
mutagen==1.30
numpy==1.16.6
paramiko==2.7.2
pathlib2==2.3.5
pathspec==0.5.9
Pillow==6.2.2
pilo==0.6.2
pycparser==2.19
PyNaCl==1.4.0
pyrsistent==0.16.1
pyspotify==2.0.5
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.21.0
scandir==1.10.0
schedule==0.6.0
scipy==1.2.3
semantic-version==2.5.0
six==1.15.0
spotify-ripper==2.10.5
spotipy==2.4.4
subprocess32==3.5.4
termcolor==1.1.0
texttable==1.6.3
urllib3==1.25.11
wcwidth==0.1.9
websocket-client==0.57.0
xattr==0.6.4
zipp==1.2.0
